player-connection-mode=Listen
player-connection-guid=2280506053
player-connection-debug=0
player-connection-project-name=Garage64EnvsCameraStuckedTimeoutProfiling
player-connection-wait-timeout=-1
player-connection-ip=130.251.133.64
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
