player-connection-mode=Listen
player-connection-guid=4272307987
player-connection-debug=0
player-connection-project-name=CameraProfilingGPUallowed
player-connection-wait-timeout=-1
player-connection-ip=130.251.133.64
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
